<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <main class="container">
      <section class="about">
        <a href="/"><img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
        <h2 id="title">
          <a href="/">{{ site.plainwhite.name }}</a>
        </h2>
        <p class="tagline">{{ site.plainwhite.tagline }}</p>

        <div class="social" style="margin-left: -38px;margin-top: -15px">
        <ul>

            {%- if site.plainwhite.social_links.github -%}
            <li class="github">
            <a href="https://github.com/{{ site.plainwhite.social_links.github }}">
            {% include social/github.svg %}</li></a>
            {%- endif -%}

            {%- if site.plainwhite.social_links.linkedIn -%}
            <li class="linkedin">
            <a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}" target="_blank">
            {% include social/linkedin.svg %}</a></li>
            {%- endif -%}

            {%- if site.plainwhite.social_links.facebook -%}
            <li class="facebook">
            <a href="https://www.facebook.com/{{ site.plainwhite.social_links.facebook }}" target="_blank">
            {% include social/facebook.svg %}</a></li>
            {%- endif -%}

            {%- if site.plainwhite.social_links.instagram -%}
            <li class="instagram">
            <a href="https://www.instagram.com/{{ site.plainwhite.social_links.instagram }}" target="_blank">
            {% include social/instagram.svg %}</a></li>
            {%- endif -%}

            {%- if site.plainwhite.social_links.twitter -%}
            <li class="twitter">
            <a href="https://www.twitter.com/{{ site.plainwhite.social_links.twitter }}" target="_blank">
            {% include social/twitter.svg %}</a></li>
            {%- endif -%}
  </ul>
</div>

          
        

<!--           <ul class="social">
              {%- if site.plainwhite.social_links.linkedIn -%}
              <a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}">
                <li>
                  {% include social/linkedin.svg %}
                </li>
              </a>
              {%- endif -%}
              {%- if site.plainwhite.social_links.github -%}
              <a href="https://github.com/{{ site.plainwhite.social_links.github }}">
                <li>
                  {% include social/github.svg %}
                </li>
              </a>
              {%- endif -%}
              {%- if site.plainwhite.social_links.facebook -%}
              <a href="https://facebook.com/{{ site.plainwhite.social_links.facebook }}">
                <li>
                  {% include social/facebook.svg %}
                </li>
              </a>
              {%- endif -%}
              {%- if site.plainwhite.social_links.instagram -%}
              <a href="https://instagram.com/{{ site.plainwhite.social_links.instagram }}">
                <li>
                  {% include social/instagram.svg %}
                </li>
              </a>
              {%- endif -%}
              {%- if site.plainwhite.social_links.twitter -%}
              <a href="https://twitter.com/{{ site.plainwhite.social_links.twitter }}">
                <li>
                  {% include social/twitter.svg %}
                </li>
              </a>
              {%- endif -%}
          </ul> -->

        {%- if site.plainwhite.navigation -%}
          <nav class="navigation">
            <ul>
              {% for link in site.plainwhite.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {%- endif -%}

        <p>&copy;
          {{ "now" | date: "%Y" }}</p>
      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
    {%- if site.plainwhite.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {%- endif -%}
  </body>
</html>
